In [2]:
#This line will import Mongo to this Python notebook. Nothing will happen if this import has alred been done
import pymongo
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017/')

In [3]:
#This will create a Collection/Database called "employees" if it doesn't already exist
db = client['employee']

In [4]:
#This line provides the MongoDB name for the Collection/Database "employees"
employee = db.employee

In [39]:
#This line inserts employee data into db.employees database
db.employee.insert_many([{"name":"Ramu","department":"Manager","Salary":4900000},
                     {"name":"Chithra","department":"Testing","Salary":1200000},
                     {"name":"Saranya","department":"Engineer","Salary":1000000},
                     {"name":"Natesh","department":"Engineer","Salary":1000000}])

In [6]:
#This finds and prints out all of the employees, their departments and their salaries
for emp in employee.find():
    print(emp)

{'_id': ObjectId('607d5ee6b6ce9ee74e052a95'), 'name': 'Ramu', 'department': 'Manager', 'Salary': 4900000}
{'_id': ObjectId('607d5ee6b6ce9ee74e052a96'), 'name': 'Chithra', 'department': 'Testing', 'Salary': 1200000}
{'_id': ObjectId('607d5ee6b6ce9ee74e052a97'), 'name': 'Saranya', 'department': 'Engineer', 'Salary': 1000000}
{'_id': ObjectId('607d5ee6b6ce9ee74e052a98'), 'name': 'Natesh', 'department': 'Engineer', 'Salary': 1000000}

### To get the total number of records in the collection

In [28]:
pipeline = [{"$group":{"_id":None,"count":{"$sum":1}}}]
grp_employee = db.employee.aggregate(pipeline)

In [29]:
for employee in grp_employee:
    print(employee)

{'_id': None, 'count': 4}

### To group by department and get the total salary for each department

In [30]:
pipeline = [{"$group":{"_id":"$department","Salary":{"$sum":"$Salary"}}}]
grp_employee = db.employee.aggregate(pipeline)

In [31]:
for employee in grp_employee:
    print(employee)

{'_id': 'Manager', 'Salary': 4900000}
{'_id': 'Testing', 'Salary': 1200000}
{'_id': 'Engineer', 'Salary': 2000000}

### To group by department and get the average salary for each department

In [32]:
pipeline = [{"$group":{"_id":"$department","Salary":{"$avg":"$Salary"}}}]
grp_employee = db.employee.aggregate(pipeline)

In [33]:
for employee in grp_employee:
    print(employee)

{'_id': 'Manager', 'Salary': 4900000.0}
{'_id': 'Testing', 'Salary': 1200000.0}
{'_id': 'Engineer', 'Salary': 1000000.0}

### To get the employees with the lowest salary

In [48]:

pipeline = [{"$group":{"_id":None,"Minimum Salary":{"$min":"$Salary"}}}]
grp_employee = db.employee.aggregate(pipeline)

In [50]:
for employee in grp_employee:
    print(employee)