In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import re

#Create a variable called vec, vec = CountVectorizer(). There are some sentences, so "vec" will count the words in them and create a matrix. The algorithm will then turn the matrix into a dataframe and prodice a frequency count of the individual word.

In [5]:
#Here is the texts
texts = ["Im aishwarya",
        "Vishali is elder sister of aishu",
        "Vishu aishu are both sissys",
        "Fish fished u",
        "A blue bug ate a fish",
        "Peter Piper picked a peck of pickled peppers. "
        "Betty Botter bought some butter."]

In [3]:
# Make a new Count Vectorizer
vec = CountVectorizer()

In [6]:
# vectorizer, please read the text and show me the raw counts
matrix = vec.fit_transform(texts)
matrix.toarray()

array([[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 1, 0],
       [1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
        1, 0, 0, 1, 0, 0]], dtype=int64)

In [7]:
#vector pulls our all of the individual words
vec.get_feature_names()

['aishu',
 'aishwarya',
 'are',
 'ate',
 'betty',
 'blue',
 'both',
 'botter',
 'bought',
 'bug',
 'butter',
 'elder',
 'fish',
 'fished',
 'im',
 'is',
 'of',
 'peck',
 'peppers',
 'peter',
 'picked',
 'pickled',
 'piper',
 'sissys',
 'sister',
 'some',
 'vishali',
 'vishu']

In [11]:
#the vector algorithm creates a datafram matrix with the frequency counts
results = pd.DataFrame(matrix.toarray(),columns=vec.get_feature_names())
results

,aishu,aishwarya,are,ate,betty,blue,both,botter,bought,bug,...,peppers,peter,picked,pickled,piper,sissys,sister,some,vishali,vishu
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,1,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,1,0,0,1,1,0,...,1,1,1,1,1,0,0,1,0,0

In [13]:
string = ["How much wood would a woodchuck chuck if a woodchuck could chuck wood?"]
vect = CountVectorizer()
matrix = vect.fit_transform(string)
matrix.toarray()
vect.get_feature_names()
res = pd.DataFrame(matrix.toarray(),columns = vect.get_feature_names())
res

   chuck  could  how  if  much  wood  woodchuck  would
0      2      1    1   1     1     2          2      1