In [1]:
my_string = 'Vishali'
print(my_string)

Vishali

In [2]:
my_string="Vishali"
print(my_string)

Vishali

In [3]:
my_string='''Vishali'''
print(my_string)

Vishali

In [5]:
my_string = '''Vishali and 
Aishu'''
print(my_string)

Vishali and
Aishu

In [6]:
print(my_string[0])

V

In [7]:
print(my_string[0.0])

TypeError: string indices must be integers

In [8]:
print(my_string[14])

i

In [9]:
print(my_string[45])

IndexError: string index out of range

In [10]:
print(my_string[-1])

u

In [11]:
print(my_string[-3])

s

In [12]:
print(my_string[7:14])

 and
A

In [13]:
print(my_string[:7])

Vishali

In [14]:
print(my_string[7:])

 and
Aishu

In [15]:
print(my_string[1:7:2])

ihl

In [16]:
new_string="Aishu"

In [18]:
print(new_string)

Aishu

In [19]:
del my_string

In [20]:
print(my_string)

NameError: name 'my_string' is not defined

In [21]:
str1="Vishu"
str2="Aishu"

In [22]:
str1+str2

'VishuAishu'

In [24]:
'i' in str1

True

In [25]:
'e' in str2

False

In [26]:
len(str1)

5

In [29]:
print("She said \"Aishu\"")

She said "Aishu"

In [30]:
print("Vishali".upper())

VISHALI

In [31]:
print("Vishali".lower())

vishali

In [33]:
str1="Vishu"
str2="Aishu"
print(str1.join(str2))

AVishuiVishusVishuhVishuu

In [34]:
str1 = "Im so late to college".split()
str1

['Im', 'so', 'late', 'to', 'college']

In [35]:
str1="Mon,Tue,Wed,thu,fri,sat,sun"

In [37]:
str1.split(",")

['Mon', 'Tue', 'Wed', 'thu', 'fri', 'sat', 'sun']

In [40]:
str1.find("Wed")

8

In [41]:
str1.find(wed)

NameError: name 'wed' is not defined

In [42]:
str1.replace("Wed","wed")

'Mon,Tue,wed,thu,fri,sat,sun'

In [43]:
mytuple=(3,5,6,3)

In [44]:
mytuple.count(7)

0

In [45]:
mytuple.count(3)

2

In [46]:
mytuple.index(5)

1

In [47]:
mytuple.index(7)

ValueError: tuple.index(x): x not in tuple

In [51]:
myset={3,21,4,56,3,4}
myset

{3, 4, 21, 56}

In [49]:
myset.add(6)

In [50]:
myset

{3, 4, 6, 21, 56}

In [52]:
myset2={4,8,9,2}

In [53]:
myset.update(myset2)

In [54]:
myset

{2, 3, 4, 8, 9, 21, 56}

In [55]:
myset1={9,5,3,2,4,5}
myset2={9,43,24,53,2}

In [56]:
myset1.union(myset2)

{2, 3, 4, 5, 9, 24, 43, 53}

In [57]:
myset1.intersection(myset2)

{2, 9}

In [58]:
myset1.difference(myset2)

{3, 4, 5}

In [59]:
set2={9,3,2}

In [60]:
set2.issubset(myset1)

True

In [61]:
mydict={1:'one',2:'two',3:'three'}

In [62]:
for key in mydict:
    print(key,"-",mydict[key])

1 - one
2 - two
3 - three

In [63]:
for i in mydict.items():
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')

In [66]:
list1=[1,3,4,2]
print(mydict.fromkeys(list1))
print(mydict.fromkeys(list1,0))

{1: None, 3: None, 4: None, 2: None}
{1: 0, 3: 0, 4: 0, 2: 0}

In [67]:
mydict2=mydict.copy()

In [68]:
mydict2

{1: 'one', 2: 'two', 3: 'three'}

In [69]:
mydict2["vishu"]="aishu"

In [70]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [71]:
mydict2

{1: 'one', 2: 'two', 3: 'three', 'vishu': 'aishu'}